/* ===== RESET DASAR ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  padding-top: 50px; /* Agar konten tidak tertutup navbar fixed */
  background: ##FFEFF7;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D00068; /* Merah muda tua */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 45px;
  margin-right: 10px;
}

.navbar .logo span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-family: Arial, sans-serif;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;        /* ukuran font default menu */
  padding: 12px 20px;     /* padding default */
  display: inline-block;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  background: #B0003B;
  color: yellow;
}

/* ===== SUBMENU ===== */
.navbar ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #990033;
  display: none;
  min-width: 180px;
  flex-direction: column;
}

.navbar ul li:hover ul {
  display: flex;
}

.navbar ul li ul li a {
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

/* ===== BANNER ===== */
.banner {
 /* margin-top: 20px; /* jarak lebih besar karena navbar fixed */
  position: relative;
}

.banner img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  text-shadow:
    0 6px 9px rgba(255,255,255,0.7),
    0 0 13px rgba(0,0,0,0.6);
  color: white;
}
/* Kiri */
.banner-text.left {
  left: 60px;
  font-size: 16px;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: italic;
}
/* Kanan */
.banner-text.right {
  right: 60px;
  font-size: 28px;
  font-family: 'Mistral', sans-serif;
}

/* ===== RESPONSIVE (HP) ===== */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul li a {
    font-size: 14px;   /* font lebih kecil di HP */
    padding: 10px;
    display: block;
    text-align: center;
  }

  .banner {
    margin-top: 120px; /* tambah jarak lebih besar di HP */
  }
}












